@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
    font-family: "NotoSansDevanagari";
    src:url("./assets/Fonts/NotoSansDevanagari-VariableFont_wdth\,wght.ttf")
}

@font-face {
    font-family: 'NotoSansDevanagari';
    src: url('./assets/Fonts/NotoSansDevanagari-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'NotoSansDevanagari';
    src: url('./assets/Fonts/NotoSansDevanagari-Regular.ttf');
    font-weight: 400;
}